Instalar libreria para hacer los test unitarios y integrales

In [ ]:
!pip install great_expectations

Requirement already satisfied: great_expectations in /usr/local/lib/python3.10/dist-packages (0.17.9)
Requirement already satisfied: altair<5.0.0,>=4.2.1 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (4.2.2)
Requirement already satisfied: Click!=8.1.4,>=7.1.2 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (8.1.6)
Requirement already satisfied: colorama>=0.4.3 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (0.4.6)
Requirement already satisfied: cryptography>=3.2 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (41.0.3)
Requirement already satisfied: Ipython>=7.16.3 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (7.34.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (7.7.1)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (3.1.2)
Requirement already satisfied: jsonpatch>=1.22 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.33)
Requirement already satisfied: jsonschema>=2.5.1 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (4.19.0)
Requirement already satisfied: makefun<2,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.15.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.7.1 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (3.20.1)
Requirement already satisfied: mistune>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (0.8.4)
Requirement already satisfied: nbformat>=5.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (5.9.2)
Requirement already satisfied: notebook>=6.4.10 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (7.0.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from great_expectations) (23.1)
Requirement already satisfied: pydantic<2.0,>=1.9.2 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.10.12)
Requirement already satisfied: pyparsing>=2.4 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (3.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (2.8.2)
Requirement already satisfied: pytz>=2021.3 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (2023.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (2.31.0)
Requirement already satisfied: ruamel.yaml<0.17.18,>=0.16 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (0.17.17)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.10.1)
Requirement already satisfied: tqdm>=4.59.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (4.66.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (4.7.1)
Requirement already satisfied: tzlocal>=1.2 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (5.0.1)
Requirement already satisfied: urllib3>=1.26 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (2.0.4)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.23.5)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from great_expectations) (1.5.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair<5.0.0,>=4.2.1->great_expectations) (0.4)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair<5.0.0,>=4.2.1->great_expectations) (0.12.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.2->great_expectations) (1.15.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (0.19.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from Ipython>=7.16.3->great_expectations) (4.8.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.5.1->great_expectations) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.5.1->great_expectations) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.6.5)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.0.8)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.10->great_expectations) (2.1.3)
Requirement already satisfied: jsonpointer>=1.9 in /usr/local/lib/python3.10/dist-packages (from jsonpatch>=1.22->great_expectations) (2.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (0.9.2)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.0->great_expectations) (2.18.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.0->great_expectations) (5.3.1)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from notebook>=6.4.10->great_expectations) (2.7.0)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in /usr/local/lib/python3.10/dist-packages (from notebook>=6.4.10->great_expectations) (2.24.0)
Requirement already satisfied: jupyterlab<5,>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from notebook>=6.4.10->great_expectations) (4.0.4)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in /usr/local/lib/python3.10/dist-packages (from notebook>=6.4.10->great_expectations) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from notebook>=6.4.10->great_expectations) (6.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->great_expectations) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->great_expectations) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->great_expectations) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->great_expectations) (2023.7.22)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.2->great_expectations) (2.21)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->great_expectations) (8.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->Ipython>=7.16.3->great_expectations) (0.8.3)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (3.7.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (21.3.0)
Requirement already satisfied: jupyter-events>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.7.0)
Requirement already satisfied: jupyter-server-terminals in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (6.5.4)
Requirement already satisfied: overrides in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (7.4.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.17.1)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (25.1.1)
Requirement already satisfied: send2trash in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.17.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.6.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core->nbformat>=5.0->great_expectations) (3.10.0)
Requirement already satisfied: async-lru>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab<5,>=4.0.2->notebook>=6.4.10->great_expectations) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab<5,>=4.0.2->notebook>=6.4.10->great_expectations) (2.2.0)
Requirement already satisfied: tomli in /usr/local/lib/python3.10/dist-packages (from jupyterlab<5,>=4.0.2->notebook>=6.4.10->great_expectations) (2.0.1)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.22.1->notebook>=6.4.10->great_expectations) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.22.1->notebook>=6.4.10->great_expectations) (0.9.14)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->Ipython>=7.16.3->great_expectations) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->Ipython>=7.16.3->great_expectations) (0.2.6)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.3.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.1.2)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (6.0.1)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.1.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (4.9.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.2.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (1.2.1)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (21.2.0)
Requirement already satisfied: fqdn in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (20.11.0)
Requirement already satisfied: uri-template in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.5.1->great_expectations) (1.13)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great_expectations) (0.5.1)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from isoduration->jsonschema>=2.5.1->great_expectations) (1.2.3)

Instalar pyspark

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=3ab8c798ea4f6d1fcb1ad35b97204e53dd028d818c6aeb4ae19967dee0c3b68c
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

llamar las librerias pyspark y pandas

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

Crear un proyecto con SparkSession

In [ ]:
spark = SparkSession.builder.master("local[*]").appName("Great Expectations with Pandas DataFrame").getOrCreate()

Montar el Drive de google

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Direccionar a la ubicación del dataset covid19

In [ ]:
folder = "/content/drive/MyDrive/Indi/pre-processing/covid/datasets"

In [ ]:
raw_df = spark.read.option("header", True).csv(folder+"/positivos_covid31072020.csv")

Selección de valores nulos

In [ ]:
from functools import reduce
import pyspark.sql.functions as f
raw_df.where(reduce(lambda x, y: x | y, (f.col(x).isNull() for x in raw_df.columns))).toPandas()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO
0,5e04371f652e0e774b701baaf65c1184,LIMA,LIMA,LIMA,PCR,None,MASCULINO,20200728
1,3e192fe28e75bb577a1eac93f4094aed,LA LIBERTAD,TRUJILLO,LA ESPERANZA,PCR,None,MASCULINO,20200729
2,fce6d0fb824ee4678f967ca00d09871f,LA LIBERTAD,TRUJILLO,LA ESPERANZA,PCR,None,MASCULINO,20200729
3,026062488afe986160c8a5e5be3ce6ec,LIMA REGION,YAUYOS,HUAMPARA,PR,None,FEMENINO,20200504
4,fe787d75bd62bcba52e0be1808257f7f,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,MASCULINO,20200404
5,35516f9ddddc09b7978b42907a43d9a0,LIMA,LIMA,SURQUILLO,PR,None,MASCULINO,20200729
6,dd3855d43369d27371a541ae1ba00ea6,LIMA,LIMA,SURQUILLO,PR,None,FEMENINO,20200729
7,2521806eafd871216007fc28bbabc9ff,LIMA,LIMA,ATE,PR,None,MASCULINO,20200729
8,cd508335c8331f86e82796ba17bf04e1,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,FEMENINO,20200403
9,7643fb1801314e7baf40c802d859d30d,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,FEMENINO,20200427
10,f7825b31971adc88547d40f4da13496e,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,FEMENINO,20200427
11,b2bf29f8d1448f50c0b63e1a22829f3e,LIMA REGION,HUARAL,ATAVILLOS ALTO,PR,None,FEMENINO,20200429
12,e3f40b32f45a68aedcd8029aa7c89b5c,LA LIBERTAD,SANTIAGO DE CHUCO,SANTIAGO DE CHUCO,PCR,None,MASCULINO,20200730
13,8c4d52b73532ba87ece5b816eea12aa2,LA LIBERTAD,TRUJILLO,TRUJILLO,PCR,None,MASCULINO,20200730
14,6a42a2ef93fbb2e3996d8b5c174e0135,LORETO,MAYNAS,PUNCHANA,PCR,None,FEMENINO,20200730
15,242d37685f13a0c16405653b760875f2,AMAZONAS,BAGUA,BAGUA,PCR,None,MASCULINO,20200731
16,8019b88dbed02d0b7a22cd993d23faa6,AMAZONAS,BAGUA,BAGUA,PCR,None,MASCULINO,20200731
17,c083ccad63580539ac181b7035aedd0f,LIMA,LIMA,LIMA,PCR,None,MASCULINO,20200731
18,f4df85d888745e1d4c190ec699a2c910,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,MASCULINO,20200421
19,827a9e5c1b7d67127a6085b641b2e8c1,LIMA REGION,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PR,None,MASCULINO,20200421

Crear una vista de casos positivos (como en SQL)

In [ ]:
raw_df.createOrReplaceTempView("Casos")

Verificar el tipo de dato

In [ ]:
type(raw_df)

pyspark.sql.dataframe.DataFrame

Descripción de los atributos

In [ ]:
raw_df.printSchema()

root
 |-- UUID: string (nullable = true)
 |-- DEPARTAMENTO: string (nullable = true)
 |-- PROVINCIA: string (nullable = true)
 |-- DISTRITO: string (nullable = true)
 |-- METODODX: string (nullable = true)
 |-- EDAD: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- FECHA_RESULTADO: string (nullable = true)

Visualizar con pandas

In [ ]:
raw_df.toPandas()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO
0,7320cabdc1aaca6c59014cae76a134e6,CAJAMARCA,JAEN,JAEN,PCR,64,MASCULINO,20200715
1,e81602051997ace8340bb8c18fe24c65,LIMA,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PCR,68,MASCULINO,20200716
2,cecdbf10074dbc011ae05b3cbd320a6f,LIMA,LIMA,LOS OLIVOS,PCR,52,MASCULINO,20200716
3,71ecb6bccb248b0bb2ac72ed51b5e979,LIMA,EN INVESTIGACIÓN,EN INVESTIGACIÓN,PCR,42,MASCULINO,20200716
4,566af4276cbe9359abe93f9aa86396c3,CALLAO,CALLAO,BELLAVISTA,PCR,34,MASCULINO,20200716
...,...,...,...,...,...,...,...,...
422178,148e34af81e6be83f7a6a8c5f0f89340,CALLAO,CALLAO,CALLAO,PR,22,FEMENINO,20200720
422179,dce015f602fd831f2d85fefc9e1663fd,LORETO,LORETO,TIGRE,PR,0,FEMENINO,20200715
422180,2ca1588b93f4c1da6f4e0f1e18babc0f,LAMBAYEQUE,CHICLAYO,REQUE,PR,0,FEMENINO,20200730
422181,b3e4195a6c114615a22449068770d78c,ICA,ICA,ICA,PR,4,FEMENINO,20200727
422182,05a3946b584d5c7549deb00e32471005,LA LIBERTAD,TRUJILLO,TRUJILLO,PR,8,FEMENINO,20200727

Llamar a la libreria para realizar los test unitarios e integrales

In [ ]:
from great_expectations.dataset import SparkDFDataset

Crear un dataset para test en esta primera etapa del dataset en bruto

In [ ]:
raw_test_df = SparkDFDataset(raw_df)

WARNING:py.warnings:/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
type(raw_test_df)

great_expectations.dataset.sparkdf_dataset.SparkDFDataset

Columnas que nos interesan para evaluar

In [ ]:
MANDATORY_COLUMNS = [
  "UUID",
  "DEPARTAMENTO",
  "PROVINCIA",
  "DISTRITO",
  "METODODX",
  "EDAD",
  "SEXO",
  "FECHA_RESULTADO"
]

verificar que existan todas las columnas

In [ ]:
for column in MANDATORY_COLUMNS:
    try:
        assert raw_test_df.expect_column_to_exist(column).success, f"Uh oh! Mandatory column {column} does not exist: FAILED"
        print(f"Column {column} exists : PASSED")
    except AssertionError as e:
        print(e)

Column UUID exists : PASSED
Column DEPARTAMENTO exists : PASSED
Column PROVINCIA exists : PASSED
Column DISTRITO exists : PASSED
Column METODODX exists : PASSED
Column EDAD exists : PASSED
Column SEXO exists : PASSED
Column FECHA_RESULTADO exists : PASSED

Verificar que no haya valores nulos

In [ ]:
for column in MANDATORY_COLUMNS:
    try:
        test_result = raw_test_df.expect_column_values_to_not_be_null(column)
        assert test_result.success, \
            f"Uh oh! {test_result.result['unexpected_count']} of {test_result.result['element_count']} items in column {column} are null: FAILED"
        print(f"All items in column {column} are not null: PASSED")
    except AssertionError as e:
        print(e)
    except AnalysisException as e:
        print(e)

All items in column UUID are not null: PASSED
All items in column DEPARTAMENTO are not null: PASSED
All items in column PROVINCIA are not null: PASSED
All items in column DISTRITO are not null: PASSED
All items in column METODODX are not null: PASSED
Uh oh! 20 of 422183 items in column EDAD are null: FAILED
All items in column SEXO are not null: PASSED
All items in column FECHA_RESULTADO are not null: PASSED

Verificar que las fechas tengan el formato correcto

In [ ]:
test_result =  raw_test_df.expect_column_values_to_match_strftime_format('FECHA_RESULTADO','%Y-%m-%d %H:%M:%S')
f"""{round(test_result.result['unexpected_percent'], 2)}% is not a valid date time format"""

'100.0% is not a valid date time format'

Verificar si los registros son unicos que no haya duplicados

In [ ]:
test_result = raw_test_df.expect_column_values_to_be_unique("UUID")
failed_msg = " ".join([f"""Uh oh!""",
              f"""{test_result.result['unexpected_count']} of {test_result.result['element_count']} items""",
              f"""or {round(test_result.result['unexpected_percent'],2)}% are not unique: FAILED"""])
print(f"""{'Column UUID is unique: PASSED' if test_result.success else failed_msg}""")

Column UUID is unique: PASSED

Filtrar los datos, solo utilizaremos los de el departamento del Cusco:

In [ ]:
PRINC_DEPARTAMENTOS = ['CUSCO']

In [ ]:
SIN_PROVINCIA_CUSCO=[
    'EN INVESTIGACIÓN'
]

In [ ]:
#filtered_df.toPandas()['PROVINCIA'].unique().tolist()

['LA CONVENCION',
 'CUSCO',
 'ACOMAYO',
 'QUISPICANCHI',
 'URUBAMBA',
 'ANTA',
 'CALCA',
 'PARURO',
 'CANCHIS',
 'CHUMBIVILCAS',
 'PAUCARTAMBO',
 'EN INVESTIGACIÓN',
 'ESPINAR',
 'CANAS']

In [ ]:
filtered_df = spark.sql(f"""
    SELECT *
    FROM Casos
          WHERE DEPARTAMENTO IN ('{"','".join(PRINC_DEPARTAMENTOS)}')
          AND PROVINCIA NOT IN ('{"','".join(SIN_PROVINCIA_CUSCO)}')
    """)

Crear una vista

In [ ]:
filtered_df.createOrReplaceTempView("FILTERED_CASOS")

Utilizar el dataset filtrado para test unitario con SparkDFDataset

In [ ]:
filtered_test_df = SparkDFDataset(filtered_df)

Verificar que solo existe datos de Cusco

In [ ]:
test_result = filtered_test_df.expect_column_values_to_be_in_set("DEPARTAMENTO", PRINC_DEPARTAMENTOS)
print(f"""DEPARTAMENTO are within scope: {'PASSED' if test_result.success else 'FAILED'}""")

DEPARTAMENTO are within scope: PASSED

Verificar que las columnas no sean nulas

In [ ]:
for column in MANDATORY_COLUMNS:
    try:
        test_result = filtered_test_df.expect_column_values_to_not_be_null(column)
        assert test_result.success, f"Uh oh! {test_result.result['unexpected_count']} of {test_result.result['element_count']} items in column {column} are null: FAILED"
        print(f"All items in column {column} are not null: PASSED")
    except AssertionError as e:
        print(e)

All items in column UUID are not null: PASSED
All items in column DEPARTAMENTO are not null: PASSED
All items in column PROVINCIA are not null: PASSED
All items in column DISTRITO are not null: PASSED
All items in column METODODX are not null: PASSED
All items in column EDAD are not null: PASSED
All items in column SEXO are not null: PASSED
All items in column FECHA_RESULTADO are not null: PASSED

In [ ]:
filtered_df.toPandas()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO
0,f8d7493fa611740211905a5e55e2e0ce,CUSCO,LA CONVENCION,PICHARI,PCR,24,MASCULINO,20200716
1,596f6db17046c21e684f44591e32a3f3,CUSCO,CUSCO,CUSCO,PCR,49,MASCULINO,20200705
2,eec8272c8da50e96d3075291c841c39d,CUSCO,CUSCO,CUSCO,PCR,65,FEMENINO,20200705
3,9b51103df4b4192cba81ec795e26227d,CUSCO,CUSCO,SANTIAGO,PCR,54,MASCULINO,20200705
4,4e123552509bc56b9629b7d0fa6decdd,CUSCO,CUSCO,CUSCO,PCR,33,MASCULINO,20200705
...,...,...,...,...,...,...,...,...
4776,1642217bf59a387d51a4be3f85a2614c,CUSCO,CUSCO,CUSCO,PR,44,FEMENINO,20200729
4777,3b55c285ca2c1a7d939cc729bfbb2956,CUSCO,LA CONVENCION,SANTA ANA,PR,48,FEMENINO,20200717
4778,879bab8366399afe3ae820401b624b4c,CUSCO,CUSCO,WANCHAQ,PR,36,FEMENINO,20200724
4779,407ff44eb33e346cf412c049ac1e9da4,CUSCO,LA CONVENCION,MEGANTONI,PR,21,FEMENINO,20200725
4780,4ea962e0881f30c7656487d0ce9156c9,CUSCO,CUSCO,WANCHAQ,PR,26,FEMENINO,20200727

Estandarizar las provincias del Cusco

In [ ]:
PROVINCIAS_CUSCO = ['LA CONVENCION',
 'CUSCO',
 'ACOMAYO',
 'QUISPICANCHI',
 'URUBAMBA',
 'ANTA',
 'CALCA',
 'PARURO',
 'CANCHIS',
 'CHUMBIVILCAS',
 'PAUCARTAMBO',
 'ESPINAR',
 'CANAS']

In [ ]:
standardised_df = spark.sql(f"""
    SELECT t.*,
         CASE
             WHEN PROVINCIA IN ('LA CONVENCION','LA CONVENCIÓN') THEN 'LA CONVENCION'
              WHEN PROVINCIA IN ('CUSCO','CUZCO') THEN 'CUSCO'
              WHEN PROVINCIA IN ('URUBAMBA') THEN 'URUBAMBA'
              WHEN PROVINCIA IN ('QUISPICANCHI') THEN 'QUISPICANCHI'
              WHEN PROVINCIA IN ('PAUCARTAMBO') THEN 'PAUCARTAMBO'
              WHEN PROVINCIA IN ('PARURO') THEN 'PARURO'
              WHEN PROVINCIA IN ('ESPINAR') THEN 'ESPINAR'
              WHEN PROVINCIA IN ('CANCHIS') THEN 'CANCHIS'
              WHEN PROVINCIA IN ('CANAS') THEN 'CANAS'
              WHEN PROVINCIA IN ('CALCA') THEN 'CALCA'
              WHEN PROVINCIA IN ('ANTA') THEN 'ANTA'
              WHEN PROVINCIA IN ('ACOMAYO') THEN 'ACOMAYO'
             END PROVINCIAS
    FROM FILTERED_CASOS t
""")

Crear vista de los datos estandarizados

In [ ]:
standardised_df.createOrReplaceTempView("STANDARDISED_CASOS")

In [ ]:
standardised_df.toPandas()

,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,PROVINCIAS
0,f8d7493fa611740211905a5e55e2e0ce,CUSCO,LA CONVENCION,PICHARI,PCR,24,MASCULINO,20200716,LA CONVENCION
1,596f6db17046c21e684f44591e32a3f3,CUSCO,CUSCO,CUSCO,PCR,49,MASCULINO,20200705,CUSCO
2,eec8272c8da50e96d3075291c841c39d,CUSCO,CUSCO,CUSCO,PCR,65,FEMENINO,20200705,CUSCO
3,9b51103df4b4192cba81ec795e26227d,CUSCO,CUSCO,SANTIAGO,PCR,54,MASCULINO,20200705,CUSCO
4,4e123552509bc56b9629b7d0fa6decdd,CUSCO,CUSCO,CUSCO,PCR,33,MASCULINO,20200705,CUSCO
...,...,...,...,...,...,...,...,...,...
4776,1642217bf59a387d51a4be3f85a2614c,CUSCO,CUSCO,CUSCO,PR,44,FEMENINO,20200729,CUSCO
4777,3b55c285ca2c1a7d939cc729bfbb2956,CUSCO,LA CONVENCION,SANTA ANA,PR,48,FEMENINO,20200717,LA CONVENCION
4778,879bab8366399afe3ae820401b624b4c,CUSCO,CUSCO,WANCHAQ,PR,36,FEMENINO,20200724,CUSCO
4779,407ff44eb33e346cf412c049ac1e9da4,CUSCO,LA CONVENCION,MEGANTONI,PR,21,FEMENINO,20200725,LA CONVENCION
4780,4ea962e0881f30c7656487d0ce9156c9,CUSCO,CUSCO,WANCHAQ,PR,26,FEMENINO,20200727,CUSCO

Crear dataset de los datos estandarizados para test unitarios

In [ ]:
standardised_test_df = SparkDFDataset(standardised_df)

Verificar si existen todas las provincias del Cusco

In [ ]:
test_result = standardised_test_df.expect_column_values_to_be_in_set("PROVINCIA", PROVINCIAS_CUSCO)

print(f"""PROVINCIA are within scope: {'PASSED' if test_result.success else 'FAILED'}""")

PROVINCIA are within scope: PASSED

Verificar que los datos estandarizados sean iguales que los filtrados en cantidad

In [ ]:
filtered_total_rows = filtered_test_df.get_row_count()
test_result = standardised_test_df.expect_table_row_count_to_equal(filtered_total_rows)

print(f"""Total row count of standardised_df ({test_result.result['observed_value']}) \
is equal to total row count of filtered_df ({filtered_total_rows}): \
{'PASSED' if test_result.result['observed_value'] == filtered_total_rows else 'FAILED'}""")

Total row count of standardised_df (4781) is equal to total row count of filtered_df (4781): PASSED

Agrupar por departamento,fecha,provincia y contar

In [ ]:
successful_casos_df = spark.sql(f"""
    SELECT
           FECHA_RESULTADO,
           PROVINCIA,
           count(PROVINCIA) total_successful_casos
    FROM STANDARDISED_CASOS
    GROUP BY DEPARTAMENTO,
           FECHA_RESULTADO,
           PROVINCIA
    ORDER BY FECHA_RESULTADO,
           PROVINCIA
    """)

In [ ]:
successful_casos_df.createOrReplaceTempView("SUCCESSFUL_CASOS")

In [ ]:
successful_casos_df.toPandas()

    FECHA_RESULTADO      PROVINCIA  total_successful_casos
0          20200313          CUSCO                       1
1          20200318          CUSCO                       3
2          20200322          CUSCO                       2
3          20200324          CUSCO                       4
4          20200327          CUSCO                       1
..              ...            ...                     ...
513        20200731          CUSCO                     184
514        20200731        ESPINAR                       1
515        20200731  LA CONVENCION                      41
516        20200731   QUISPICANCHI                      10
517        20200731       URUBAMBA                       2

[518 rows x 3 columns]

In [ ]:
successful_casos_df_test_df = SparkDFDataset(successful_casos_df)

In [ ]:
test_result = successful_casos_df_test_df.expect_compound_columns_to_be_unique(["FECHA_RESULTADO","PROVINCIA"])

print(f"""FECHA_RESULTADO column is unique for each PROVINCIA: {'PASSED' if test_result.success else 'FAILED'}""")

FECHA_RESULTADO column is unique for each PROVINCIA: PASSED

comprobar que los datos estandarizados y las metricas por fecha y provincias tengan las mismas cantidades

In [ ]:
standardised_total_rows = standardised_test_df.get_row_count()
test_result = successful_casos_df_test_df.expect_column_sum_to_be_between('total_successful_casos',
                                                                              standardised_total_rows, standardised_total_rows)

print(f"""Total sum of casos in metrics dataset ({test_result.result['observed_value']}) \
is equal to total rows in standardised dataset ({standardised_total_rows}): \
{'PASSED' if test_result.result['observed_value'] ==  standardised_total_rows else 'FAILED'}""")

Total sum of casos in metrics dataset (4781) is equal to total rows in standardised dataset (4781): PASSED

Test integral a partir de los test unitarios anteriores

In [ ]:
raw_test_df_validation = raw_test_df.validate()
print(f"""1. Raw dataset validations: {raw_test_df_validation.success}; {raw_test_df_validation.statistics['success_percent']} successful""")
filtered_test_df_validation = filtered_test_df.validate()
print(f"""2. Filtered dataset validations: {filtered_test_df_validation.success}; {filtered_test_df_validation.statistics['success_percent']} successful""")
standardised_test_df_validation = standardised_test_df.validate()
print(f"""3. Standardised dataset validations: {standardised_test_df_validation.success}; {standardised_test_df_validation.statistics['success_percent']} successful""")
successful_casos_df_test_df_validation = successful_casos_df_test_df.validate()
print(f"""4. Metrics dataset validations: {successful_casos_df_test_df_validation.success}; {successful_casos_df_test_df_validation.statistics['success_percent']} successful""")

1. Raw dataset validations: False; 88.88888888888889 successful
2. Filtered dataset validations: True; 100.0 successful
3. Standardised dataset validations: True; 100.0 successful
4. Metrics dataset validations: True; 100.0 successful